blog_backend\node_modules
blog_frontend\node_modules
# Ignore environment and sensitive files
.env
**/.env
.env.*
**/.env.*
# Ignore log files
*.log
logs/
# Ignore OS files
.DS_Store
Thumbs.db
blog-website-server/.env
blog-website-server/node_modules/
blog-website-client/node_modules/
blog-website-admin/node_modules/